<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Playfair Display" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/landingpage-styling.css">

<head>
	<title></title>
<meta name="viewport" content="width=device-width, intial-scale=1">
<title>JP Times</title>


</head>
<div id="loading-protection"></div>





<body>
	<div id="nav-bar">

<div id="logo-container"><a href="/"><img id="logo" src="static/Logo white.png"></div>
<hr>
<nav>
  <ul>
    <li class="categories"><a href="/politik" class="nav-links">Politik</a></li>
    <li class="categories"><a href="/wirtschaft" class="nav-links">Wirtschaft</a></li>
    <li class="categories"><a href="/gesellschaft" class="nav-links">Gesellschaft</a></li>
    <li class="categories object"><a href="/technik" class="nav-links">Technik</a></li>
    <li class="categories object"><a href="/sport" class="nav-links">Sport</a></li>
    <li class="categories object"><a href="/zeit" class="nav-links">zeit.de</a></li>
    <li class="categories object"><a href="/nyt" class="nav-links">nytimes.com</a></li>
  </ul>
</nav>
<nav id="secondnav">
  <ul>
  	<li class="categories"><a href="/technik" class="nav-links">Technik</a></li>
    <li class="categories"><a href="/sport" class="nav-links">Sport</a></li>
    <li class="categories"><a href="/zeit" class="nav-links">zeit.de</a></li>
    <li class="categories"><a href="/nyt" class="nav-links">nytimes.com</a></li>
  </ul>
</nav>
<hr id="secondline">

</div>
	<button class="gallery-button right-button" onclick="plusDivs(1)"><img class = "arrow-right"src="static/Arrow-right.png"></button>
	<button class="gallery-button left-button" onclick="plusDivs(-1)"><img class = "arrow-left"src="static/Arrow-left.png"></button>

{% block content %}
	{% for article in news %}
	<div class="breaking-news-container gallery">
		<img class="breaking-news-img" src="{{ article['IMG_LINK'] }}">
		

		<div class="article-content">
			<div class="breaking-news-articles">
				<div class="breaking-news-headline">
					<div class="breaking-news-tags">
						{% for tag in article['TAGS'].split(',')%}
						<li class="article-tags">{{ tag }}</li>
						{% endfor %}
					</div>
					 <a href="{{ url_for('news.reader', article_id=article['ID']) }}"><h2>
						{{ article['HEADLINE'] }}
					</h2></a>
					<div class="article-specs">
	            		{% if article['Source_ID'] == 2 %}
           				<a class="article-spec">nytimes.com</a>
            			<p class="article-spec">{{ article['DateandTime'] }}</p>
          				{% else %}
          				<a class="article-spec">zeit.de</a>
            			<p class="article-spec">{{ article['DateandTime'] }}</p>
            			{% endif %}
	            	</div>
				</div>
				


				{% if loop.index < news|length -1 %}
				<div class="breaking-news-articles-headlines">
					<div class="breaking-news-article-desc">
						{% if news[loop.index]['TOPIC_ID'] == 1 %}
						<p class="section">POLITIC</p>
						{% elif news[loop.index]['TOPIC_ID'] == 2 %}
						<p class="section">TECHNOLOGY</p>
						{% elif news[loop.index]['TOPIC_ID'] == 3 %}
						<p class="section">BUSINESS</p>
						{% elif news[loop.index]['TOPIC_ID'] == 4 %}
						<p class="section">CULTURE</p>
						{% else %}
						<p class="section">SPORT</p>
						{% endif %}
						<a href="{{ url_for('news.reader', article_id=news[loop.index]['ID']) }}"><h3>{{ news[loop.index]['HEADLINE'] }}</h3></a>
						<p class="source">nytimes.com</p>
					</div>
					<div class="breaking-news-article-desc">
						{% if news[loop.index+1]['TOPIC_ID'] == 1 %}
						<p class="section">POLITIC</p>
						{% elif news[loop.index+1]['TOPIC_ID'] == 2 %}
						<p class="section">TECHNOLOGY</p>
						{% elif news[loop.index+1]['TOPIC_ID'] == 3 %}
						<p class="section">BUSINESS</p>
						{% elif news[loop.index+1]['TOPIC_ID'] == 4 %}
						<p class="section">CULTURE</p>
						{% else %}
						<p class="section">SPORT</p>
						{% endif %}
						<a href="{{ url_for('news.reader', article_id=news[loop.index+1]['ID']) }}"><h3>{{ news[loop.index+1]['HEADLINE'] }}</h3></a>
						<p class="source">nytimes.com</p>
					</div>
				</div>
				{% else %}
				<div class="breaking-news-articles-headlines">
					<div class="breaking-news-article-desc">
						{% if news[0]['TOPIC_ID'] == 1 %}
						<p class="section">POLITIC</p>
						{% elif news[0]['TOPIC_ID'] == 2 %}
						<p class="section">TECHNOLOGY</p>
						{% elif news[0]['TOPIC_ID'] == 3 %}
						<p class="section">BUSINESS</p>
						{% elif news[0]['TOPIC_ID'] == 4 %}
						<p class="section">CULTURE</p>
						{% else %}
						<p class="section">SPORT</p>
						{% endif %}
						<a href="{{ url_for('news.reader', article_id=news[0]['ID']) }}"><h3>{{ news[0]['HEADLINE'] }}</h3></a>
						<p class="source">nytimes.com</p>
					</div>
					<div class="breaking-news-article-desc">
						{% if news[1]['TOPIC_ID'] == 1 %}
						<p class="section">POLITIC</p>
						{% elif news[1]['TOPIC_ID'] == 2 %}
						<p class="section">TECHNOLOGY</p>
						{% elif news[1]['TOPIC_ID'] == 3 %}
						<p class="section">BUSINESS</p>
						{% elif news[1]['TOPIC_ID'] == 4 %}
						<p class="section">CULTURE</p>
						{% else %}
						<p class="section">SPORT</p>
						{% endif %}
						<a href="{{ url_for('news.reader', article_id=news[1]['ID']) }}"><h3>{{ news[1]['HEADLINE'] }}</h3></a>
						<p class="source">nytimes.com</p>
					</div>
				</div>
				{% endif %}


			</div>
			<div class="breaking-news-text">
				<p class="breaking-news-paragraph scroll-bar">
					{% for line in article['CONTENT'].splitlines() %}
    					{{line}}<br>
    				{% endfor %}
				</p>
				<svg class="mouse" xmlns="..." viewBox="0 0 76 130" preserveAspectRatio="xMidYmid meet">
	  				<g fill="none" fill-rule="evenodd">
	  				<rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36"/>
				    <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF"/>
				    </g>
				</svg>
			</div>
		</div>

	</div>

	 {% endfor %}
	
{% endblock %}
	<div class="spotlight-scroll scroll-bar2">
		<div class="spotlight">
			{% for news in news %}
				<div class="spotlight-article">
					<div class="spotlight-article-img-container">
						<img class="spotlight-article-img" src="{{ news['IMG_LINK'] }}">
					</div>
					<a href="{{ url_for('news.reader', article_id=news['ID']) }}"><div class="spotlight-article-headline">
						{% if news['TOPIC_ID'] == 1 %}
						<p class="spotlight-section">POLITIC</p>
						{% elif news['TOPIC_ID'] == 2 %}
						<p class="spotlight-section">TECHNOLOGY</p>
						{% elif news['TOPIC_ID'] == 3 %}
						<p class="spotlight-section">BUSINESS</p>
						{% elif news['TOPIC_ID'] == 4 %}
						<p class="spotlight-section">CULTURE</p>
						{% else %}
						<p class="spotlight-section">SPORT</p>
						{% endif %}
						<h4>{{ news['HEADLINE'] }}</h4>
					</div>
				</div></a>
			{% endfor %}
		</div>
	</div>

</body>
</html>
<script src="static/gallery.js"></script>


