@font-face {
  font-family: 'EnglishTowne';
  src: url('/Users/jan-philippthiele/Library/Fonts/EnglishTowne.ttf')
}

*{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}  

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

#nav-bar {
	position: fixed;
	width: 100%;
	z-index: 5;
	height: 160px;
}

#logo {
  width: 300px;
  margin: 7px;
}

#logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

#secondnav {
	display: none;
	z-index: 2;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


li {
  list-style: none;
  color: white;
}

#folder {
	display: flex;
	flex-direction: column;

}

hr {
  height: 1px;
  border:none; 
  color: white; 
  background-color: white; 
  width:90%; 
  text-align:center; 
  margin: 0 auto;
}

.categories {
    color: white;
    font-family: Montserrat;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 12px;
    text-shadow: 0px 0px 2px #333333;
    padding: 2px;
    z-index: 1;
    animation-name: shrink;
  	animation-duration: 0.5s;
  	animation-timing-function: ease;
  	animation-fill-mode: forwards; 
  } @keyframes shrink {
  	0%{
  		transform: scale(1.1);
  	}
  	100% {
  		transform: scale(1);
  	}
  }.categories:hover {
  	animation-name: expand;
  	animation-duration: 0.5s;
  	animation-timing-function: ease;
  	animation-fill-mode: forwards; 
  } @keyframes expand {
  	100% {
  		transform: scale(1.1);
  	}
  }

  .nav-links {
  	color: white;
  }

a {
  text-decoration: none;
  color: black;
}

#secondline {
  color: white; 
  background-color: white;
  position: sticky;
  top: 35px;
}

.breaking-news-img {
	object-fit: fill;

	min-width: 100%;
	min-height: 100%;
	left:50%;
	top:50%;
	position: fixed;
    transform:translate(-50%,-50%);
	animation-name: opacity;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	opacity: 1;
}

.breaking-news-container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.article-content {
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: 85%;
	top: 150px;
	left:50%;
    transform:translate(-50%);
    padding: 30px;
}

.breaking-news-headline {
	overflow-y: hidden;
	width: min-content;
	overflow-x: visible;

}

.breaking-news-text {
	width: 35%;
	max-width: 350PX;
	height: 450px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 1px 5px 20px #000000;
	align-items: center;
	animation-name: opacitytwo;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-delay: 3s;
	opacity: 0;
}
@keyframes opacitytwo {
	100% {
		opacity: 1;
	}
}


.breaking-news-paragraph {
	margin-left: 20px;
	margin-right: 15px;
	overflow-y: scroll;
	height: 84%;
	color: white;
	font-weight: lighter;
	font-size: 14px;
	padding-right: 15px;
	margin-top: 15px;
}



h2 {
	color: white;
	font-size: 3.5vw;
	width: 38vw;
	font-weight: lighter;
	text-shadow: 0px 0px 2px #333333;
	padding: 2px;
	overflow-x: visible;
	font-family: Playfair Display;
}

.scroll-bar::-webkit-scrollbar-track
{
  margin-bottom: 300px;
  border-radius: 100px;
  background-color: #555;
  opacity: 0.5
}

.scroll-bar::-webkit-scrollbar
{
  width: 4px;
  background-color: #0000;
}

.scroll-bar::-webkit-scrollbar-thumb
{
  border-radius: 100px;
  background-color: white;
}

.scroll-bar::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-bottom: 300px; 
}

.scroll-bar::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 0px; 
}

.breaking-news-tags {
	display: flex;
	font-family:  Montserrat;
	margin-bottom: 15px;
	font-weight: bold;
	text-shadow: 0px 0px 2px #333333;
}

.article-tags { 
	margin-right: 20px;
	font-size: 12px;
	color: white;
	font-style: italic;
	padding-right: 2px;
	text-shadow: 0px 0px 2px #333333;
}

.article-specs {
	display: flex;
	color: white;
	margin-top: 20px;
	font-family: Montserrat;
	font-size: 14px;
	margin-bottom: 20px;
	text-shadow: 0px 0px 2px #333333;
}

.article-spec {
	margin-right: 30px;
	color: white;
	text-shadow: 0px 0px 2px #333333;
}

.breaking-news-articles {
	display: flex;
	flex-direction: column;
	height: 68vh;
	max-width: 50vw;
	justify-content: space-between;
}

.breaking-news-articles-headlines {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.breaking-news-article-desc {
	width: 40%;
	color: white;
	height: 10vw;
	max-height: 20vh;
	min-height: 100px;
	position: relative;
}

h3 {
	font-weight: lighter;
	font-size: 1.5vw;
	margin-top: 10px;
	line-height: 115%;
	text-shadow: 0px 0px 2px #333333;
	font-family: Playfair Display;
	color: white;
}

.section {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0px 0px 2px #333333;
}

.source {
	position: absolute;
	bottom: 0px;
	text-shadow: 0px 0px 2px #333333;
}

.spotlight {
	display: flex;
	justify-content: space-between;
	min-width: min-content;
	margin-left: 8px;
	margin-top: 2px;
}

.spotlight-scroll {
	flex: 1;
	display: flex;
	overflow-x: scroll;
	position: absolute;
	bottom: 0px;
	background-color: white;
	width: 55%;
	height: 80px;
	border-radius: 10px 0px 0px 0px;
	right: 0px;

}

.scroll-bar2::-webkit-scrollbar
{
	display: none;
}

.spotlight-article {
	display: flex;
	align-items: center; 
	width: 290px;
	margin-right: 20px;
	padding-left: 5px;
}

.spotlight-article-img-container {
	width: 60px;
	height: 60px;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 1px 5px #555555;
}

.spotlight-article-img {
	position: relative;
	left: 50%;
    transform:translate(-50%);
    height: 100%;
}

.spotlight-article-headline {
	display: flex;
	margin-left: 14px;
	flex-direction: column;
	height: 65px;
}

.spotlight-section {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 10px;
	color: #555555;
	margin-top: 2px;
}

h4 {
	font-weight: lighter;
	margin-top: 4px;
	font-size: 13px;
	max-width: 220px;
	line-height: 16px;
	overflow: hidden;
	font-family: Playfair Display;
}



.mouse {
  max-width: 1rem;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}

@keyframes scroll {
  0%, 20% {
  transform: translateY(0) scaleY(1);
  }
}

@keyframes scroll {
  10% {
  opacity: 1;
  }
  100% {
  transform: translateY(36px) scaleY(2);
  opacity: 0.01;
  }
}

.breaking-news-article-desc {
	position: relative;
	display: block;
	line-height: 1;
	transform: translateY(11rem);
	animation: up 700ms linear forwards;
	animation-timing-function: cubic-bezier(0.250, 0.225, 0.375, 0.990);
	animation-delay: 2.1s;
	z-index: 1;
	
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 1px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
}

@keyframes up {
	
	100% {
		transform: translateY(0);
	}
	
}

@keyframes draw {
	
	100% {
		width: 100%;
	}
	
}


 h2, .article-specs, .breaking-news-tags {
	position: relative;
	line-height: 1.1;
	transform: translateY(22rem);
	animation: up 700ms linear forwards;
	animation-timing-function: cubic-bezier(0.250, 0.225, 0.375, 0.990);
	animation-delay: 1.2s;
	z-index: 1;
	overflow-y: hidden; 
	
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 2px;
		left: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: -1;
	}
	
	&::before {
		top: 1.4rem;
		animation: draw 500ms linear 1s forwards;
	}
	
	&::after {
		bottom: 0.5rem;
		animation: draw 500ms linear 1s forwards;
	}
	
}

.gallery-button {
	position: fixed;
	top: 50%;
	transform: translate(0,-50%);
	background-color: black;
	width: 40px;
	height: 40px;
	z-index: 5;
	opacity: 0.7;
	border-style: none;
	border-radius: 100%;
}

.right-button {
	right: 2%;
}

.left-button {
	left: 2%;
}

#loading-protection {
	animation-name: opacitydecrease;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	width: 2000px; 
	height: 2000px;
	background-color: white;
	z-index: 5;
	opacity: 1;
	position: fixed;
} @keyframes opacitydecrease {
	100% {
		opacity: 0;
		z-index: -5;
	}
}

.arrow-left {
	width: 90%;
	position: relative;
} 

.arrow-right {
	width: 90%;
	position: relative;
} 

.gallery-button:hover .arrow-right {
	animation-name: direction-indication-right;
	animation-duration: 1s;
	left: 0px;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
} @keyframes direction-indication-right{

	49% {
		left: 30px;
	}

	50% {
		left: -30px;
	}

	100% {
		left: 0px;
	}
}

.gallery-button:hover .arrow-left {
	animation-name: direction-indication-left;
	animation-duration: 1s;
	left: 0px;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
} @keyframes direction-indication-left{

	49% {
		left: -30px;
	}

	50% {
		left: 30px;
	}

	100% {
		left: 0px;
	}
}



@media (max-width: 1050px){
	.breaking-news-text {
		display: none;
	}

	h2 {
		font-size: 5.5vw;
		width: 100%;
	}

	.breaking-news-articles {
		max-width: 70vw;
		justify-content: flex-end;
	}

	.breaking-news-headline {
		overflow: hidden;
		
		margin-bottom: 50px;
		width: 70vw;
	}

	.breaking-news-articles-headlines {
		display: none;
	}

	nav {
		overflow-x: scroll; 
	}
}

	

@media (max-width: 750px){
	.spotlight-scroll {
		display: none;
	}

	.breaking-news-headline {
		width: 100%;
	}

	h2 {
		font-size: 7vw;
		width: 100%;
	}

	.breaking-news-articles {
		max-width: 90%;
		justify-content: flex-end;
		height: 75vh;
	}

	.object {
		display: none;
	}


	 #secondnav {
		display: flex;
	}

	.categories {
		margin-left: 10px;
    	margin-right: 15px;
	}

	.breaking-news-headline {
		overflow: hidden;
		
		margin-bottom: 100px;
		width: 70vw;
	}

	.article-tags {
		margin-right: 10px;
	}

	}
